<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			ML App
		</div>
		<h2>Detección de Spam para comentarios de Youtube</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('resultado')}}" method="POST">
		<p>Ingresa tu comentario Aqui</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="comment" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	
	

</body>
</html>
