<!DOCTYPE html>
<html>
<head>
	<title>Predict</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			ML App
		</div>
		<h2>Detección de Spam para Comentarios de Youtube</h2>
		
	</div>
	</header>
	<p style="color:blue;font-size:20;text-align: center;"><b>Resultados para el comentario</b></p>
	<div class="results">


		
	{% if prediction == 1%}
	<h2 style="color:red;">Es Spam</h2>
	{% elif prediction == 0%}
	<h2 style="color:blue;">No es Spam (It is a Ham)</h2>
	{% endif %}

	</div>

</body>
</html>